---
import Header from '@/components/Header.astro';

import Footer from '@/components/Footer.astro';
import { getSiteSettings } from '@/utils/payload/globals';
import { ViewTransitions } from 'astro:transitions';
import '../styles/app.css';

const { title: siteTitle, description: siteDescription } =
  await getSiteSettings();

export interface Props {
  title: string;
  description?: string;
}

const { title: pageTitle, description: pageDescription } = Astro.props;

const fullTitle = `${pageTitle} | ${siteTitle}`;
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content={pageDescription || siteDescription} />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>{fullTitle}</title>
    <ViewTransitions />
  </head>

  <!-- 100.1 to force scrollbar to show, preventing content shift -->
  <body class="flex min-h-[100.1vh] flex-col">
    <Header />
    <main class="container flex-1">
      <slot />
    </main>
    <Footer />
  </body>
</html>
