.rich-text-lexical .editor-shell {
  font-family: 'ui-sans-serif', 'system-ui', 'sans-serif';

  :is(h1, h2, h3, h4, h5, h6) {
    font-family: 'ui-sans-serif', 'system-ui', 'sans-serif';
    font-weight: 700;
    font-size: 1.5em;
    line-height: 1.33;
    margin-top: 0;
    margin-bottom: 1em;
    text-transform: none;
  }
}
