---
import Layout from "@/layouts/Layout.astro";
import { getRecords } from "@/utils/payload/record";

const records = await getRecords();
---

<Layout title="For The Records.">
  <h1 class="relative z-10 font-black text-[#dcdcdc] md:text-center -mb-[.4em] text-6xl md:text-8xl mix-blend-exclusion animate-fade-in-drop-down opacity-0">For The Records</h1>

  <section class="flex flex-wrap justify-center">
    {records.length > 0 && (
      records.map((record, idx) => {
        return (
          <div
            class="flex-grow-0 w-1/2 opacity-0 md:w-1/4 record animate-fade-in-scale"
          >
            <a href={`/records/${record.id}`}>
              <div class="overflow-hidden record-cover">
                <img src={record.image.url} alt="Record Cover" class="object-cover w-full transition-all duration-500 aspect-square" />
              </div>        
            </a>
          </div>
        )
      })
      
    )}
    <!-- <div
      v-for="(record, i) in records" :key="record.id" class="flex-grow-0 w-1/2 opacity-0 md:w-1/4 record animate-fade-in-scale" :style="{
        animationDelay: `${getAnimDelay(i)}ms`
      }"
    >
      <a href="route('record.show', {record: record.id})">
        <div class="overflow-hidden record-cover">
          <img :src="coverImageURL(record)" alt="Record Cover" class="object-cover w-full transition-all duration-500 aspect-square" />
        </div>        
      </a>
    </div> -->
    <div class="w-full mt-3 font-mono tracking-tighter text-right">
      <a href="/records">View all >></a>
    </div>
  </section>
</Layout>

<style>
  .record:hover img {
  transform: scale(1.03);
  filter: grayscale(1);
}
</style>
