---
import Layout from '@/layouts/Layout.astro';
import { getRecords } from '@/utils/payload/record';

const records = await getRecords();
---

<Layout title="For The Records.">
  <h1
    class="relative z-10 -mb-[.4em] animate-fade-in-drop-down text-6xl font-black text-[#dcdcdc] opacity-0 mix-blend-exclusion md:text-center md:text-8xl"
    transition:name={`heading`}
  >
    For The Records
  </h1>

  <section class="flex flex-wrap justify-center">
    {
      records?.length > 0 &&
        records.map((record, idx) => {
          return (
            <div
              class="record w-1/2 flex-grow-0 animate-fade-in-scale opacity-0 md:w-1/4"
              transition:name={`record-${record.id}`}
            >
              <a href={`/records/${record.slug}`}>
                <div class="overflow-hidden">
                  <img
                    src={record.image.url}
                    alt="Record Cover"
                    class="aspect-square h-full w-full object-cover transition-all duration-500"
                  />
                </div>
              </a>
            </div>
          );
        })
    }
    <div class="mt-6 w-full text-right font-mono tracking-tighter">
      <a href="/records" class="text-armyGreen">View all >></a>
    </div>
  </section>
</Layout>

<style>
  .record:is(:hover, :focus) img {
    transform: scale(1.03);
    filter: grayscale(1);
  }
</style>
