---
import RecordImage from '@/components/RecordImage.astro';
import Layout from '@/layouts/Layout.astro';
import { getSiteSettings } from '@/utils/payload/globals';
import { getRecords } from '@/utils/payload/record';

const records = await getRecords();

const { title: siteTitle } = await getSiteSettings();
---

<Layout title="Home">
  <h1
    class="heading-text-shadow relative z-10 -mb-[.3em] animate-fade-in-drop-down text-6xl font-black text-[#d5d5d5] opacity-0 mix-blend-exclusion dark:text-[#f8f8f8] md:text-center md:text-8xl"
  >
    {siteTitle}
  </h1>

  <section class="flex flex-wrap justify-center">
    {
      records?.length > 0 &&
        records.map((record, idx) => {
          return (
            <div
              class="record w-1/2 flex-grow-0 animate-fade-in-scale opacity-0 md:w-1/4"
              transition:name={`record-${record.id}`}
            >
              <a href={`/records/${record.slug}`}>
                <div class="overflow-hidden">
                  <RecordImage
                    record={record}
                    class="aspect-square h-full w-full object-cover transition-all duration-500"
                  />
                </div>
              </a>
            </div>
          );
        })
    }
    <div class="mt-6 w-full text-right font-mono tracking-tighter">
      <a href="/records" class="text-black dark:text-[#f8f8f8]">View all >></a>
    </div>
  </section>
</Layout>

<style>
  .record:is(:hover, :focus) img {
    transform: scale(1.02);
    filter: invert(1);
  }
</style>
