---
import Artist from '@/components/Artist.astro';
import Grid from '@/components/Grid.astro';
import Layout from '@/layouts/Layout.astro';
import { getArtists } from '@/utils/payload/artist';

const artists = await getArtists();
---

<Layout title="Artists">
  <h1
    class="heading-text-shadow relative z-10 -mb-[.3em] ml-1 text-6xl font-black text-[#c5c5c5] mix-blend-exclusion dark:text-[#f8f8f8] md:text-7xl"
    transition:animate="fade"
  >
    Artists.
  </h1>
  {
    artists?.length ? (
      <Grid>
        {artists.map((artist) => (
          <div>
            <Artist artist={artist} />
          </div>
        ))}
      </Grid>
    ) : (
      <p class="mt-20 text-[#c5c5c5]">No artists found.</p>
    )
  }
</Layout>
