---
interface Props {
  heading?: string;
}

const { heading = 'About' } = Astro.props;
---

<div class="max-w-[70ch]">
  <slot />
</div>

<!-- ---
import { getContentArray } from '@/utils/helpers';
import { getImageSrc } from '@/utils/payload/image';
import { Image } from 'astro:assets';
const { content } = Astro.props;
const contentArray = getContentArray(content);
---

<div>
  {
    contentArray.map((value) => {
      if (typeof value === 'string') {
        return <article set:html={value} />;
      } else {
        return (
          <Image
            src={getImageSrc(value.src)}
            width={value.width}
            height={value.height}
            format="webp"
            alt="hallo"
          />
        );
      }
    })
  }
</div> -->
