<footer class="w-full py-3 bg-[#d1cedd] mix-blend-exclusion">
  <div class="container flex items-center justify-center md:justify-end">
    <div v-if="!user" class="flex items-center gap-2">
      <!-- <Link :href="route('user-account.create')" class="btn-secondary">Register</Link>
      <Link :href="route('login')" class="btn-primary">Login</Link> -->
    </div>
  </div>
</footer>