---
import { getSiteSettings } from '@/utils/payload/globals';
import PayloadImage from './PayloadImage.astro';
// import ThemeToggleReact from './ThemeToggle';
import ThemeToggle from './ThemeToggle.astro';
const { logo } = await getSiteSettings();
---

<!-- <script>
  const loginButton = document.getElementById('login');

  // login by fetch payload API with username and password

  loginButton?.addEventListener('click', () => {
    fetch('http://localhost:3001/api/users/login', {
      method: 'POST',
      credentials: 'include',
      headers: {
        'Content-Type': 'application/json'
      },
      body: JSON.stringify({
        username: 'mackenzieluke94@gmail.com',
        password: 'Rusty321!'
      })
    })
      .then((res) => res.json())
      .then((data) => {
        console.log(data);
        if (data.success) {
          window.location.reload();
        }
      });
  });
</script> -->
<header class="mb-16 w-full">
  <div class="container">
    <nav class="flex items-center justify-between py-6">
      <h2
        class="text-gray-900 text-center text-base font-bold tracking-tight sm:flex-1 md:text-lg"
      >
        <a href="/">
          <!-- TODO: make spin animation persist across page changes using ViewTransitions  -->
          <PayloadImage
            src={logo}
            alt="Home"
            class="h-8 w-8 animate-[spin_3s_linear_infinite] dark:invert dark:filter"
            loading="eager"
          />
        </a>
      </h2>

      <div
        class="text-gray-900 flex items-center gap-8 text-sm font-medium sm:gap-10"
      >
        <a href="/records" class="font-mono tracking-tight">Records</a>
        <a href="/artists" class="font-mono tracking-tight">Artists</a>
        <!-- <button id="login" class="font-mono tracking-tight"> Login</button> -->
        <ThemeToggle />

        <!-- client:load = high priority; load & hydrte component JS immediately on page load -->
        <!-- <ThemeToggleReact client:load /> -->
      </div>
    </nav>
  </div>
</header>
