---
import ThemeToggleAstro from './ThemeToggle.astro';
import ThemeToggleReact from './ThemeToggle.tsx';
---

<header class="mb-16 w-full">
  <div class="container">
    <nav class="flex items-center justify-between py-6">
      <h2
        class="text-gray-900 text-center text-base font-bold tracking-tight md:text-lg"
      >
        <a href="/">For The Records.</a>
      </h2>

      <div class="text-gray-900 flex items-center gap-10 text-sm font-medium">
        <a href="/records" class="font-mono tracking-tight">Records</a>
        <a href="/artists" class="font-mono tracking-tight">Artists</a>
        <!-- TODO: figure out why astro version causes flash when changing pages -->
        <!-- <ThemeToggleAstro /> -->

        <!-- client:load = high priority; load & hydrte component JS immediately on page load -->
        <ThemeToggleReact client:load/>
      </div>
    </nav>
  </div>
</header>
