---
import record from '@/icons/record.svg';
import { Image } from "astro:assets";
import ThemeToggleReact from './ThemeToggle.tsx';
// import ThemeToggleAstro from './ThemeToggle.astro';
---

<header class="mb-16 w-full">
  <div class="container">
    <nav class="flex items-center justify-between py-6">
      <h2
        class="text-gray-900 text-center text-base font-bold tracking-tight md:text-lg"
      >
        <a href="/">
          <!-- TODO: put an SVG of a vinyl record here  -->
          <!-- <span class="sr-only">Home</span> -->

          <!-- TODO: make spin animation persist across page changes using ViewTransitions  -->
          <Image src={record} alt="Home" class="w-8 h-8 animate-[spin_2s_linear_infinite]" />
        </a>
      </h2>

      <div class="text-gray-900 flex items-center gap-10 text-sm font-medium">
        <a href="/records" class="font-mono tracking-tight">Records</a>
        <a href="/artists" class="font-mono tracking-tight">Artists</a>
        <!-- TODO: figure out why astro version causes flash when changing pages -->
        <!-- <ThemeToggleAstro /> -->

        <!-- client:load = high priority; load & hydrte component JS immediately on page load -->
        <ThemeToggleReact client:load/>
      </div>
    </nav>
  </div>
</header>
