---
const { record } = Astro.props;
---
<a href="#">
  <div class="mb-1 overflow-hidden rounded-sm record-cover">
    <img :src="coverImageURL" alt="Record Cover" class="object-cover w-full transition-transform duration-500 aspect-square hover:scale-[1.03]" />
  </div>
  <p>{record.title}</p>
  <a href="#" class="text-sm text-gray-500">
    { record.artist?.name}
  </a> 
</a>

<style>

.record-cover {
  position: relative;
}

.record-cover:hover:after,
.record-cover:focus:after {
  opacity: 1;
}

.record-cover::after {
  content: '';
  pointer-events: none;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(-30deg, rgba(237, 237, 237, 0.1)55%, rgba(247, 247, 247, 0.3)69%);
  opacity: 0;
  transition: opacity 0.5s;
  
}

</style>