---
import type { Record } from '@/types';

interface Props {
  record: Record;
  class?: string;
}

const { record, class: className } = Astro.props;
---

{
  record.artist.length ? (
    record.artist.map((artist, index) => (
      <span>
        {index > 0 ? ', ' : ''}
        <a class={className} href={`/artists/${artist.slug}`}>
          {artist.name}
        </a>
      </span>
    ))
  ) : (
    <span class="text-muted">No artist</span>
  )
}
