---
import Layout from '@/layouts/Layout.astro';
import Record from '@/components/Record.astro';
import { getRecords } from '@/utils/payload/record';
import Grid from '@/components/Grid.astro';
import GridHeading from '@/components/GridHeading.astro';

const records = await getRecords();
---

<Layout title="Records">
  <GridHeading heading="Records." />

  {
    records?.length ? (
      <Grid>
        {records.map((record) => (
          <Record record={record} />
        ))}
      </Grid>
    ) : (
      <p class="text-[#dcdcdc]">No records found.</p>
    )
  }
</Layout>
