---
import Grid from '@/components/Grid.astro';
import Record from '@/components/Record.astro';
import Layout from '@/layouts/Layout.astro';
import { getRecords } from '@/utils/payload/record';

const records = await getRecords();
---

<Layout title="Records">
  <h1
    class="heading-text-shadow relative z-10 -mb-[.3em] ml-1 text-6xl font-black text-[#c5c5c5] mix-blend-exclusion dark:text-[#d9bfff] md:text-7xl"
    transition:animate="fade"
  >
    Records.
  </h1>
  {
    records?.length ? (
      <Grid>
        {records.map((record) => (
          <Record record={record} />
        ))}
      </Grid>
    ) : (
      <p class="mt-20 text-[#c5c5c5]">No records found.</p>
    )
  }
</Layout>
